<?php
////////////////////////////////////////////////////////////////////////////
//
// Copyright (C) 2006-2011, University of Utah. 
// All rights reserved.
// Contact: vistrails@sci.utah.edu
//
// This file is part of VisTrails.
//
// "Redistribution and use in source and binary forms, with or without 
// modification, are permitted provided that the following conditions are met:
//
//  - Redistributions of source code must retain the above copyright notice, 
//    this list of conditions and the following disclaimer.
//  - Redistributions in binary form must reproduce the above copyright 
//    notice, this list of conditions and the following disclaimer in the 
//    documentation and/or other materials provided with the distribution.
//  - Neither the name of the University of Utah nor the names of its 
//    contributors may be used to endorse or promote products derived from 
//    this software without specific prior written permission.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, 
// THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR 
// PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR 
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, 
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, 
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
// OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
// WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR 
// OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF 
// ADVISED OF THE POSSIBILITY OF SUCH DAMAGE."
//
////////////////////////////////////////////////////////////////////////////
//This file will store the configuration of your server
// it will be used by all the other php scripts
// Rename this file to config.php

//This is where the RPC-XML server is running
$VT_HOST = "localhost";
$VT_PORT = 8080;

//This controls how VisTrails will be accessed
//Set it to false if you plan to execute in the command line
$USE_VISTRAILS_XML_RPC_SERVER = True;

//Set this to False if VisTrails server runs on a different machine
$USE_LOCAL_VISTRAILS_SERVER = True;

// Change this to point to the folder where vistrails.py is
// You won't need this if $USE_VISTRAILS_XML_RPC_SERVER is set to True
// Used in run_vistrails.php
$PATH_TO_VISTRAILS = '/vistrails/v1.2/vistrails';

// Change this to point to the folder where the images should be generated
// absoulte path should be used
$PATH_TO_IMAGES = '/path/to/images/';

// Change this to the web accessible path to the folder where the images were generated
// Something like http://your.url.com$WEB_PATH_TO_IMAGES
$WEB_PATH_TO_IMAGES = '/images/';

// Change this to point to the folder where the workflow graphs should be generated
// absoulte path should be used
$PATH_TO_GRAPHS = '/path/to/graphs/';

// Change this to the full url pointing to the root where the graphs were generated
$URL_TO_GRAPHS = "http://your.domain.com/path/to/graphs/";

// Change this to the full url pointing to the download.php script
$URL_TO_DOWNLOAD = "http://your.domain.com/path/to/download.php";

// Default configuration variables for database
// They can be changed through the requests in the scripts
// default database host
$DB_HOST = 'your.hostname.com';
// default databse port
$DB_PORT = '3306';
// default database name
$DB_NAME = 'vistrails';
?>
