autopep8
backports.ssl_match_hostname
certifi
docutils
dulwich
IPython
Mako
matplotlib
mysql-python
numpy
paramiko
# PyQt<5.0
pyth
python-dateutil
scipy
scp
Sphinx
sphinx-argparse
SQLAlchemy
suds
unittest2
VTK
xlrd
xlwt
scikit-learn
nose
file_archive>=0.6
tej>=0.3
usagestats>=0.3
