backports.ssl_match_hostname
certifi
dulwich
IPython
matplotlib
mysql-python
numpy
paramiko
# PyQt<5.0
pyth
python-dateutil
redbaron
scipy
scp
SQLAlchemy
suds
VTK
xlrd
xlwt
scikit-learn
file_archive>=0.6
tej>=0.3
usagestats>=0.3
