.canvas {
	position: absolute;
	/* left: 256px; */
	left: 0px;
	top: 0px;
	background-color: #888888;
	overflow-y: hidden;
	overflow-x: hidden;
}

.offscreen {
	position: absolute;
	left: -500px;
	top: -300px;
}

.viewTools {
	position: absolute;
	left: 0px;
	top: 0px;
}
