.canvas {
	position: absolute;
	/* left: 256px; */
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #888888;
	overflow-y: hidden;
	overflow-x: hidden;
}

.errors {
	position: absolute;
	left: 300px;
	top: 0px;
	color: #000000;
}
/*
.canvas1 {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
*/
.zoom {
	position: absolute;
	left: 264px;
	top: 0px;
}

table.module {
	border-width: 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: black;
	background-color: rgb(221, 221, 221);
	cursor: move;
}

table.selectedModule {
	border-width: 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: rgb( 255, 165, 0 );
	background-color: rgb(221, 221, 221);
	cursor: move;
}

table.module td {
	border-width: 0px;
	padding: 1px;
}

table.selectedModule td {
	border-width: 0px;
	padding: 1px;
}

table.input {
	border-width: 1px 1px 1px 1px;
	padding: 0px 0px 0px 0px;
	border-style: outset outset outset outset;
	border-spacing: 1px;
	border-color: black black black black;
	border-collapse: collapse;
	margin-right:auto;
	margin-left:0px;
}

table.output {
	border-width: 1px 1px 1px 1px;
	padding: 0px 0px 0px 0px;
	border-style: outset outset outset outset;
	border-spacing: 1px;
	border-color: black black black black;
	border-collapse: collapse;
}

table.inputRack {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-spacing: 1px;
	border-collapse: collapse;
	margin-left:0px;
	margin-right:auto;
}

table.outputRack {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-spacing: 1px;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:0px;
}

table.inputRack td {
	border-width: 0px 0px 0px 0px;
	padding: 2px 2px 2px 2px;
}

table.outputRack td {
	border-width: 0px 0px 0px 0px;
	padding: 2px 2px 2px 2px;
}

.moduleName {
	font-family: arial;
	font-style: normal;
	font-weight: bold;
	cursor: move;
}

.moduleType {
	color: #000000;
	border-width: 0px 0px 0px 0px;
	font-weight: normal;
	padding: 1px;
}

.moduleType:hover {
	padding: 0px;
	cursor: move;
	font-weight: normal;
	color: #000000;
	background-color: rgb(221, 221, 221);
	border: 1px solid #000;
	border-style: inset;
}

table.treeLines {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.treeLines td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	font-weight: normal;
	left: 0px;
	color: #AAAAAA;
}

.methodSignature {
	color: #000000;
	border-width: 0px 0px 0px 0px;
	font-weight: normal;
	padding: 0px;
}


.package {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
}

.basic {
	border: 2px solid #000;
	padding: 2px;
	background-color: #EEEEEE;
	font-weight: bold;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 99%;
	width: 250px;
	overflow-y: scroll;
	overflow-x: scroll;
}

.functionList {
	position: absolute;
	right: 0px;
	top: 0px;
	border: 2px solid #000;
	padding: 2px;
	background-color: #EEEEEE;
	width: 250px;
	height: 99%;
	overflow-y: scroll;
	overflow-x: scroll;
}

.button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
	border-color: #000000;
	background-color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.menu {
	border: 2px solid #000;
	border-color: #000000;
	padding: 8px;
	background-color: #EEEEEE;
	font-weight: bold;
	width: 150px;
}

.menuItem {
	color: #000000;
	border-width: 0px 0px 0px 0px;
	font-weight: normal;
	padding: 1px;
}

.menuItem:hover {
	padding: 0px;
	cursor: pointer;
	font-weight: normal;
	color: #000000;
	background-color: rgb(221, 221, 221);
	border: 1px solid #000;
	border-style: inset;
}

.moduleConfiguration {
	border: 2px solid #000;
	border-color: #000000;
	padding: 8px;
	background-color: #EEEEEE;
	font-weight: normal;
}

.selectionBox {
	border: 2px;
	border-color: rgb( 255, 165, 0 );
}
